<div class="modal-footer">

    <button ng-show="indexStep > 1" class="btn btn-primary submit-btn" type="submit" aria-label="Précédent" ng-click="previewStep()">
        <span class="glyphicon glyphicon-backward"></span>
        Précédent
    </button>
    <button class="btn btn-primary submit-btn" type="submit" aria-label="Abandonner" ng-click="abandonnerDemande()">
        <span class="glyphicon glyphicon-remove"></span>
        Abandonner la Demande
    </button>
    <button ng-show="indexStep < 6" class="btn btn-primary submit-btn pull-right" type="submit" aria-label="Suivant" ng-click="nextStep()">
        <span class="glyphicon glyphicon-forward"></span>
        Suivant
    </button>
</div>