<div class="row bs-wizard" style="border-bottom:0;">

    <div class="col-xs-2 bs-wizard-step" ng-class="{disabled: indexStep < 1, active: indexStep == 1, complete: indexStep > 1}">
        <div class="text-center bs-wizard-stepnum">Etape 1</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#!/Demaut/demande/professionSante" class="bs-wizard-dot"></a>
        <div class="bs-wizard-info text-center">Information demande</div>
    </div>
    <div class="col-xs-1 bs-wizard-step" ng-class="{disabled: indexStep < 2, active: indexStep == 2, complete: indexStep > 2}">
        <div class="text-center bs-wizard-stepnum">Etape 2</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#!/Demaut/demande/donneesPerso" class="bs-wizard-dot"></a>
        <div class="bs-wizard-info text-center">Données Personnelles</div>
    </div>
    <div class="col-xs-2 bs-wizard-step" ng-class="{disabled: indexStep < 3, active: indexStep == 3, complete: indexStep > 3}">
        <div class="text-center bs-wizard-stepnum">Etape 3</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#!/Demaut/demande/donneesDiplomes" class="bs-wizard-dot"></a>
        <div class="bs-wizard-info text-center">Titres et formations</div>
    </div>
    <div class="col-xs-2 bs-wizard-step" ng-class="{disabled: indexStep < 4, active: indexStep == 4, complete: indexStep > 4}">
        <div class="text-center bs-wizard-stepnum">Etape 4</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#!/Demaut/demande/donneesActivites" class="bs-wizard-dot"></a>
        <div class="bs-wizard-info text-center">Futures activités</div>
    </div>
    <div class="col-xs-1 bs-wizard-step" ng-class="{disabled: indexStep < 5, active: indexStep == 5, complete: indexStep > 5}">
        <div class="text-center bs-wizard-stepnum">Etape 5</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#!/Demaut/demande/annexes" class="bs-wizard-dot"></a>
        <div class="bs-wizard-info text-center">Pièces annexes</div>
    </div>
    <div class="col-xs-2 bs-wizard-step" ng-class="{disabled: indexStep < 6, active: indexStep == 6, complete: indexStep > 6}">
        <div class="text-center bs-wizard-stepnum">Etape 6</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#!/Demaut/demande/recapitulatif" class="bs-wizard-dot"></a>
        <div class="bs-wizard-info text-center">Récalpitulatif</div>
    </div>
    <div class="col-xs-1 bs-wizard-step" ng-class="{disabled: indexStep < 7, active: indexStep == 7, complete: indexStep > 7}">
        <div class="text-center bs-wizard-stepnum">Etape 7</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#!/Demaut/demande/soumission" class="bs-wizard-dot"></a>
        <div class="bs-wizard-info text-center">Soumettre</div>
    </div>
</div>