<div>
    <div>
       <span>
           <div id="alertMessageBox">
               <button type="button" class="close" data-target="#alertMessageBox" data-dismiss="alert" ng-click="alertMessages = []">
                   <span aria-hidden="true">&times;</span><span class="sr-only">×</span>
               </button>
               <span data-ng-repeat="message in alertMessages">
                <div ng-if="message.level == 'error'" class="alert alert-danger"
                     role="alert">
                    <ul>
                        <li>{{message.text}}</li>
                    </ul>
                </div>
                   <div ng-if="message.level == 'warning'" class="alert alert-warning"
                        role="alert">
                       <ul>
                           <li>{{message.text}}</li>
                       </ul>
                   </div>
               </span>
           </div>
           <!-- TODO : Revoir ce titre bizarre -->
           <h2 ng-show="contextMenu == 'DemandeAutorisation'">Demande d'autorisation</h2>
           <h2 ng-show="contextMenu == 'Cockpit'">Cockpit Demaut</h2>
           <h2 ng-show="contextMenu == 'Aide'">Aide Demaut</h2>
           <h2 ng-show="contextMenu == 'Formulaire'">Formulaire papier</h2>
           <h2 ng-show="contextMenu == 'Recherche'">Recherche de demande</h2>
        </span>
    </div>
</div>