<div>
    <div class="nav GUI" style="height:80px;" >
        <div class="nav-step">
            <div class="clear">
                <div ng-class="{'nav-step-num': indexStep < 1, 'nav-step-num-current': indexStep == 1, 'nav-step-num-next': indexStep > 1}">1</div>
                <div ng-class="{'nav-step-text': indexStep < 1, 'nav-step-text-current': indexStep == 1, 'nav-step-text-next': indexStep > 1}">
                    Profession demandée
                </div>
            </div>
            <div class="nav-step-pos">
                <div ng-class="{'nav-step-space-next': indexStep < 1, 'nav-step-space-current': indexStep == 1, 'nav-step-space': indexStep > 1}"></div>
                <div ng-class="{'nav-step-bar-next': indexStep < 1, 'nav-step-bar-current': indexStep == 1, 'nav-step-bar': indexStep > 1}"></div>
                <div ng-class="{'nav-step-arrow-next': indexStep < 1, 'nav-step-arrow-current': indexStep == 1, 'nav-step-arrow': indexStep > 1}"></div>
            </div>
        </div>
        <div class="nav-step">
            <div class="clear">
                <div ng-class="{'nav-step-num': indexStep < 2, 'nav-step-num-current': indexStep == 2, 'nav-step-num-next': indexStep > 2}">2</div>
                <div ng-class="{'nav-step-text': indexStep < 2, 'nav-step-text-current': indexStep == 2, 'nav-step-text-next': indexStep > 2}">
                    Données personnelles
                </div>
            </div>
            <div class="nav-step-pos">
                <div ng-class="{'nav-step-space-next': indexStep < 2, 'nav-step-space-current': indexStep == 2, 'nav-step-space': indexStep > 2}"></div>
                <div ng-class="{'nav-step-bar-next': indexStep < 2, 'nav-step-bar-current': indexStep == 2, 'nav-step-bar': indexStep > 2}"></div>
                <div ng-class="{'nav-step-arrow-next': indexStep < 2, 'nav-step-arrow-current': indexStep == 2, 'nav-step-arrow': indexStep > 2}"></div>
            </div>
        </div>
        <div class="nav-step">
            <div class="clear">
                <div ng-class="{'nav-step-num': indexStep < 3, 'nav-step-num-current': indexStep == 3, 'nav-step-num-next': indexStep > 3}">3</div>
                <div ng-class="{'nav-step-text': indexStep < 3, 'nav-step-text-current': indexStep == 3, 'nav-step-text-next': indexStep > 3}">
                    Titres et formations
                </div>
            </div>
            <div class="nav-step-pos">
                <div ng-class="{'nav-step-space-next': indexStep < 3, 'nav-step-space-current': indexStep == 3, 'nav-step-space': indexStep > 3}"></div>
                <div ng-class="{'nav-step-bar-next': indexStep < 3, 'nav-step-bar-current': indexStep == 3, 'nav-step-bar': indexStep > 3}"></div>
                <div ng-class="{'nav-step-arrow-next': indexStep < 3, 'nav-step-arrow-current': indexStep == 3, 'nav-step-arrow': indexStep > 3}"></div>
            </div>
        </div>
        <div class="nav-step">
            <div class="clear">
                <div ng-class="{'nav-step-num': indexStep < 4, 'nav-step-num-current': indexStep == 4, 'nav-step-num-next': indexStep > 4}">4</div>
                <div ng-class="{'nav-step-text': indexStep < 4, 'nav-step-text-current': indexStep == 4, 'nav-step-text-next': indexStep > 4}">
                    Activités futures
                </div>
            </div>
            <div class="nav-step-pos">
                <div ng-class="{'nav-step-space-next': indexStep < 4, 'nav-step-space-current': indexStep == 4, 'nav-step-space': indexStep > 4}"></div>
                <div ng-class="{'nav-step-bar-next': indexStep < 4, 'nav-step-bar-current': indexStep == 4, 'nav-step-bar': indexStep > 4}"></div>
                <div ng-class="{'nav-step-arrow-next': indexStep < 4, 'nav-step-arrow-current': indexStep == 4, 'nav-step-arrow': indexStep > 4}"></div>
            </div>
        </div>
        <!--<div class="nav-step">-->
            <!--<div class="clear">-->
                <!--<div ng-class="{'nav-step-num': indexStep < 4, 'nav-step-num-current': indexStep == 4, 'nav-step-num-next': indexStep > 4}">4</div>-->
                <!--<div ng-class="{'nav-step-text': indexStep < 4, 'nav-step-text-current': indexStep == 4, 'nav-step-text-next': indexStep > 4}">-->
                    <!--Activités antérieures-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="nav-step-pos">-->
                <!--<div ng-class="{'nav-step-space-next': indexStep < 4, 'nav-step-space-current': indexStep == 4, 'nav-step-space': indexStep > 4}"></div>-->
                <!--<div ng-class="{'nav-step-bar-next': indexStep < 4, 'nav-step-bar-current': indexStep == 4, 'nav-step-bar': indexStep > 4}"></div>-->
                <!--<div ng-class="{'nav-step-arrow-next': indexStep < 4, 'nav-step-arrow-current': indexStep == 4, 'nav-step-arrow': indexStep > 4}"></div>-->
            <!--</div>-->
        <!--</div>-->
        <div class="nav-step">
            <div class="clear">
                <div ng-class="{'nav-step-num': indexStep < 5, 'nav-step-num-current': indexStep == 5, 'nav-step-num-next': indexStep > 5}">5</div>
                <div ng-class="{'nav-step-text': indexStep < 5, 'nav-step-text-current': indexStep == 5, 'nav-step-text-next': indexStep > 5}">
                    Pièces à fournir
                </div>
            </div>
            <div class="nav-step-pos">
                <div ng-class="{'nav-step-space-next': indexStep < 5, 'nav-step-space-current': indexStep == 5, 'nav-step-space': indexStep > 5}"></div>
                <div ng-class="{'nav-step-bar-next': indexStep < 5, 'nav-step-bar-current': indexStep == 5, 'nav-step-bar': indexStep > 5}"></div>
                <div ng-class="{'nav-step-arrow-next': indexStep < 5, 'nav-step-arrow-current': indexStep == 5, 'nav-step-arrow': indexStep > 5}"></div>
            </div>
        </div>
        <div class="nav-step">
            <div class="clear">
                <div ng-class="{'nav-step-num': indexStep < 6, 'nav-step-num-current': indexStep == 6, 'nav-step-num-next': indexStep > 6}">6</div>
                <div ng-class="{'nav-step-text': indexStep < 6, 'nav-step-text-current': indexStep == 6, 'nav-step-text-next': indexStep > 6}">
                    Récalpitulatif et envoi
                </div>
            </div>
            <div class="nav-step-pos">
                <div ng-class="{'nav-step-space-next': indexStep < 6, 'nav-step-space-current': indexStep == 6, 'nav-step-space': indexStep > 6}"></div>
                <div ng-class="{'nav-step-bar-next': indexStep < 6, 'nav-step-bar-current': indexStep == 6, 'nav-step-bar': indexStep > 6}"></div>
                <div ng-class="{'nav-step-arrow-next': indexStep < 6, 'nav-step-arrow-current': indexStep == 6, 'nav-step-arrow': indexStep > 6}"></div>
            </div>
        </div>
        <!--<div class="nav-step">-->
            <!--<div class="clear">-->
                <!--<div ng-class="{'nav-step-num': indexStep < 7, 'nav-step-num-current': indexStep == 7, 'nav-step-num-next': indexStep > 7}">7</div>-->
                <!--<div ng-class="{'nav-step-text': indexStep < 7, 'nav-step-text-current': indexStep == 7, 'nav-step-text-next': indexStep > 7}">-->
                    <!--Fin-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="nav-step-pos">-->
                <!--<div ng-class="{'nav-step-space-next': indexStep < 7, 'nav-step-space-current': indexStep == 7, 'nav-step-space': indexStep > 7}"></div>-->
                <!--<div ng-class="{'nav-step-bar-next': indexStep < 7, 'nav-step-bar-current': indexStep == 7, 'nav-step-bar': indexStep > 7}"></div>-->
                <!--<div ng-class="{'nav-step-arrow-next': indexStep < 7, 'nav-step-arrow-current': indexStep == 7, 'nav-step-arrow-': indexStep > 7}"></div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>