<div>
    <div>
       <span>
            <h3 style="color:crimson" ng-show="error">

            </h3>
           <div id="erreur" class="alert alert-danger" ng-show="error">
               <button type="button" class="close" data-target="#erreur" data-dismiss="alert">
                   <span aria-hidden="true">&times;</span><span class="sr-only">×</span>
               </button>
               <b>Un problème a été détecté. Merci de contacter l'adminsitrateur du système !</b>
           </div>
           <h2 ng-show="contextMenu == 'DemandeAutorisation'">Demande d'autorisation</h2>
           <h2 ng-show="contextMenu == 'Cockpit'">Cockpit Demaut</h2>
           <h2 ng-show="contextMenu == 'Aide'">Aide Demaut</h2>
           <h2 ng-show="contextMenu == 'Formulaire'">Formulaire papier</h2>
           <h2 ng-show="contextMenu == 'Recherche'">Recherche de demande</h2>
        </span>
    </div>
</div>