<div ng-include="'template/include/include-titre.html'"></div>

<div class="bs-wizard-info text-left" ng-show="initilized">
    <div class="row">
        <div class="col-md-12">
            <legend>Vos demandes en cours :</legend>
        </div>
        <div class="col-md-6" style="overflow: auto;" ng-show="cockpitData.demandesBrouillons.length > 0">
            <table class="table table-striped" ng-show="cockpitData.demandesBrouillons">
                <tr ng-repeat="demande in cockpitData.demandesBrouillons">
                    <td style="font-weight: bold;">Demande d'autorisation de pratiquer pour la profession {{demande['profession']['libl']}}<br>
                    	Référence : {{demande['referenceDeDemande']['value']}}<br>
                        Créé le : {{demande['dateDeCreation'] | date:'dd.MM.yyyy'}}<br>
                        Code GLN : {{demande['codeGLN']}} <br>
                        Statut : {{demande['statut']}} <br>
                    </td>
                    <td>
                        <span class="badge">
                        <a href="" ng-click="viewDemande(demande['referenceDeDemande']['value'])" class="btn btn-xs btn-default">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                        <a href="" ng-click="deleteDemande(demande['referenceDeDemande']['value'])" ng-confirm-click="Voulez-vous vraiment supprimer la demande en cours ?"
                           class="btn btn-xs btn-default">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-10">
            <label ng-show="!cockpitData.demandesBrouillons || cockpitData.demandesBrouillons.length == 0">Vous n'avez pas de demandes en cours pour l'instant.</label>
        </div>
    </div>
    <div class="row">
        <br/>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="#!/Demaut/demande/professionSante" class="btn btn-primary submit-btn" ng-show="cockpitData.demandesBrouillons && cockpitData.demandesBrouillons.length == 0">
                Nouvelle demande d'autorisation de pratiquer
            </a>
        </div>
    </div>
</div>