input.ng-invalid.ng-untouched {
}
/*TODO Supprimer si confirmé le comportement de required */
/*input.ng-invalid.ng-touched  {*/
    /*background-color: rgba(255, 218, 220,100);*/
    /*background-image: none;*/
    /*border-color: #d9534f;*/
/*}*/

ul.error-message {
    margin-left: auto;
    margin-right: auto;
    width:80%;
    margin-bottom:20px;
    overflow:hidden;
    border: #d9534f 1px solid;
}
ul.error-message li{
    line-height:1.5em;
    float:left;
    display:inline;
    width:50%;
    text-align: center;
    font-weight: bold;
    font-size: larger;
    color: #a94442;
}