<div ng-include="'partiels/include-steps.html'"></div>
<div>
    Annexe page<br />
    controller: {{annexe.name}}<br />
    Demande Id: {{annexe.params.demandeId}}<br />
    Annexe Id: {{annexe.params.chapterId}} <br />

    <table class="table table-striped">
        <tr>
            <th>Type</th>
            <th>Id</th>
            <th>Name</th>
            <th>Type</th>
            <th>Size</th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="annexe in annexes | filter: '' | orderBy:'name'">
            <td>
                <span ng-show="isDocument(annexe)" class="glyphicon glyphicon-certificate"></span>
                <span ng-hide="isDocument(annexe)" class="glyphicon glyphicon-picture"></span>
            </td>
            <td>{{annexe.id}}</td>
            <td>{{annexe.name}}</td>
            <td>{{annexe.type}}</td>
            <td>{{annexe.size}}</td>
            <td>
                <a href="" ng-click="viewEntry(annexe)" class="btn btn-xs btn-default">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </a>
                <a href="" ng-click="deleteEntry(annexe)" class="btn btn-xs btn-default">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
                <a href="" ng-click="editEntry(annexe)" class="btn btn-xs btn-default">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </td>
        </tr>
    </table>
</div>