<div ng-include="'template/demande/include-steps.html'"></div>
<div class="bs-wizard-info text-left">
    <fieldset>
        <legend>Pièces à fournir :</legend>
        <label>En fonction de votre profil et du type d'autorisation que vous souhaitez, vous devez fournir les pièces suivantes :</label>
        <table class="table table-striped">
            <thead>
                <tr bgcolor="#99CC00">
                    <th>Document attendu</th>
                    <th>Fichier</th>
                    <th>Type</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tr ng-repeat="annexeType in annexeTypes">
                <td>{{annexeType}}</td>
                <td>
                    <li style="height:20px;" ng-repeat="file in files[annexeType] | filter: { typeAnnexe: annexeType }">{{file.name}}</li>
                </td>
                <td>
                    <li style="list-style-type: none;height:20px;" ng-repeat="file in files[annexeType] | filter: { typeAnnexe: annexeType }">{{file.type}}</li>
                </td>
                <td>
                    <li style="list-style-type: none;height:20px;" ng-repeat="file in files[annexeType] | filter: { typeAnnexe: annexeType }">
                        <a href="" ng-click="viewAnnexe(file, annexeType)" class="btn btn-xs btn-default">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                        <a href="" ng-click="deleteAnnexe(file, annexeType)" class="btn btn-xs btn-default">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </li>
                </td>
                <td>
                    <span class="btn btn-success fileinput-button" ng-class="{disabled: disabled}">
                            <i class="glyphicon glyphicon-plus"></i>
                            <input type="file" name="{{annexeType}}" multiple ng-disabled="disabled" accept="image/*,application/pdf" onchange="angular.element(this).scope().filesChanged(this)">
                    </span>
                </td>

            </tr>
        </table>
    </fieldset>
</div>
<div ng-include="'template/demande/include-actions.html'"></div>