<div ng-include="'template/include/include-steps.html'"></div>
<div class="bs-wizard-info text-left">
    <fieldset>
        <legend>Veuillez saisir vos Données Professionnelles :</legend>
        <div>
            <ng-form name="donneesProf.professionnelDataForm">
                <div class="row">
                    <div class="col-md-2"><label for="intitule">Intitulé*</label></div>
                    <div class="col-md-10"><input type="text" id="intitule" name="intitule" class="form-control"
                                                  required="required" ng-model="professionnelData.intitule"></div>
                </div>
                <div class="row">
                    <div class="col-md-2"><label for="adresseProfessionnelle">Adresse professionnelle*</label></div>
                    <div class="col-md-10"><input type="text" id="adresseProfessionnelle" name="adresseProfessionnelle"
                                                  class="form-control" required="required"
                                                  ng-model="professionnelData.adresseProfessionnelle"></div>
                </div>
                <div class="row">
                    <label for="localite" class="col-md-2">Localité*</label>

                    <div class="col-md-2">
                        <input type="text" id="localite" name="localite" class="form-control" required="required"
                               ng-model="professionnelData.localite">
                    </div>
                    <label for="npa" class="col-md-2">
                        NPA*
                    </label>

                    <div class="col-md-2">
                        <input type="number" id="npa" name="npa" class="form-control" required="required"
                               ng-model="professionnelData.npa">
                    </div>
                    <label for="pays" class="col-md-2">
                        Pays*
                    </label>

                    <div class="col-md-2">
                        <input type="text" id="pays" name="pays" class="form-control" required="required"
                               ng-model="professionnelData.pays">
                    </div>
                </div>
                <div class="row">
                    <label for="dateDObtention" class="col-md-2">
                        Date d'obtention*
                    </label>

                    <div class="col-md-2">
                        <input type="date" id="dateDObtention" name="dateDObtention" placeholder="jj/MM/aaaa"
                               class="form-control" required="required" ng-model="personalData.dateDObtention">
                    </div>
                </div>
            </ng-form>
        </div>
        <div class="modal-footer">
            <button ng-show="showBack" class="btn btn-primary submit-btn" type="submit" aria-label="Nouvelle"
                    ng-click="addAnotherData()">
                <span class="glyphicon glyphicon-plus"></span>
                Ajouter une autre
            </button>
        </div>
        <div>
            <legend>Activités professionnelles :</legend>
            <div style="overflow: auto;height: 460px;">
                <table class="table table-striped">
                    <thead>
                    <tr bgcolor="#99CC00">
                        <th>Type</th>
                        <th>Activité</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tr ng-repeat="activite in professionnelData.activites">
                        <td>{{activite.type}}</td>
                        <td>
                            {{activite.name}}
                        </td>
                        <td>
                            {{activite.date}}
                        </td>
                        <td>
                            <a href="" ng-click="editActivite(activite)" class="btn btn-xs btn-default">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a href="" ng-click="deleteActivite(activite)" class="btn btn-xs btn-default">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </fieldset>
</div>
<step-actions back-step-fn="backStep()" next-step-fn="nextStep()"/>