<div ng-include="'template/include/include-steps.html'"></div>
<div class="bs-wizard-info text-left">
    <fieldset>
        <legend>Veuillez saisir vos titres et formations :</legend>
        <div>
            <ng-form name="donneesDiplome.diplomeDataForm">
                <div id="Formulaire_vide" class="alert alert-danger" ng-show="donneesDiplome.diplomeDataForm.$pristine && wouldStepNext">
                    <button type="button" class="close" data-target="#Formulaire_vide" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">×</span>
                    </button>
                    Veuillez saisir vos titres et formations !
                </div>
                <div id="Edit_warning" class="alert alert-warning" ng-show="wouldEditDiplome">
                    <button type="button" class="close" data-target="#Edit_warning" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">×</span>
                    </button>
                    Le diplôme selectionné en modification a été supprimé en base.
                </div>
                <div ng-hide="donneesDiplome.diplomeDataForm.$pristine || donneesDiplome.diplomeDataForm.$valid">
                    <div id="TypeDiplome_obligatoire" class="alert alert-danger" ng-show="donneesDiplome.diplomeDataForm.typeDiplome.$touched && donneesDiplome.diplomeDataForm.typeDiplome.$error.required">
                        <button type="button" class="close" data-target="#TypeDiplome_obligatoire" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span><span class="sr-only">×</span>
                        </button>
                        Veuillez selectionner un type de diplôme !
                    </div>
                    <div id="TitreFormation_obligatoire" class="alert alert-danger" ng-show="donneesDiplome.diplomeDataForm.typeFormation.$touched && donneesDiplome.diplomeDataForm.typeFormation.$error.required">
                        <button type="button" class="close" data-target="#TitreFormation_obligatoire" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span><span class="sr-only">×</span>
                        </button>
                        Veuillez selectionner un un titre de formation.
                    </div>
                    <div id="DateObtention_obligatoire" class="alert alert-danger" ng-show="donneesDiplome.diplomeDataForm.dateObtention.$touched && donneesDiplome.diplomeDataForm.dateObtention.$error.required">
                        <button type="button" class="close" data-target="#DateObtention_obligatoire" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span><span class="sr-only">×</span>
                        </button>
                        Veuillez saisir une date d'obtention du diplôme.
                    </div>
                    <div id="PaysObtention_obligatoire" class="alert alert-danger" ng-show="donneesDiplome.diplomeDataForm.paysObtention.$touched && donneesDiplome.diplomeDataForm.paysObtention.$error.required">
                        <button type="button" class="close" data-target="#PaysObtention_obligatoire" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span><span class="sr-only">×</span>
                        </button>
                        Veuillez saisir le pays d'obtention du diplôme.
                    </div>
                    <div id="DateReconnaissance_obligatoire" class="alert alert-danger"
                         ng-show="(donneesDiplome.diplomeDataForm.dateReconnaissance.$touched && donneesDiplome.diplomeDataForm.dateReconnaissance.$error.required) || (!isDateReconnaissanceSaisie() && (wouldStepNext || wouldAddDiplome))">
                        <button type="button" class="close" data-target="#DateReconnaissance_obligatoire" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span><span class="sr-only">×</span>
                        </button>
                        Veuillez saisir une date de reconnaissance du diplôme.
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2"><label for="typeDiplome">Type de diplôme*</label></div>
                    <div class="col-md-10">
                        <select id="typeDiplome" name="typeDiplome" ng-model="diplomeData.diplome.typeDiplome" ng-change="fetchListeFormations()" required
                            ng-options="typeDiplome.libl for typeDiplome in diplomeData.typeDiplomes track by typeDiplome.id"/>
                    </div>
                </div>
                <div class="row">
                    <br/>
                </div>
                <div class="row">
                    <div class="col-md-2"><label for="typeFormation">Titre de la formation*</label></div>
                    <div class="col-md-8">
                        <select id="typeFormation" name="typeFormation" ng-model="diplomeData.diplome.typeFormation" required
                                ng-options="typeFormation.libl for typeFormation in diplomeData.typeFormations track by typeFormation.id"/>
                    </div>
                </div>
                <div class="row">
                    <br/>
                </div>
                <div class="row">
                    <div class="col-md-2"><label for="complement">Complément</label></div>
                    <div class="col-md-10">
                        <input type="text" id="complement" name="complement" class="form-control" ng-model="personalData.diplome.complement">
                    </div>
                </div>
                <div class="row">
                    <br/>
                </div>
                <div class="row">
                    <label for="dateObtention" class="col-md-2">Date d'obtention*</label>
                    <div class="col-md-4">
                        <input type="text" id="dateObtention" name="dateObtention" placeholder="jj.mm.aaaa" class="form-control"
                               ng-model="diplomeData.diplome.dateObtention" required>
                    </div>
                    <label for="paysObtention" class="col-md-2">Pays d'obtention*</label>
                    <div class="col-md-4">
                        <select id="paysObtention" name="paysObtention" ng-model="diplomeData.diplome.paysObtention" required
                                ng-options="pays.libl for pays in diplomeData.paysList track by pays.id"/>
                    </div>
                </div>
                <div class="row">
                    <br/>
                </div>
                <div class="row">
                    <label for="dateReconnaissance" class="col-md-2">Date de reconnaissance</label>
                    <div class="col-md-4">
                        <input type="text" id="dateReconnaissance" name="dateReconnaissance" placeholder="jj.mm.aaaa" class="form-control"
                               ng-model="diplomeData.diplome.dateReconnaissance" ng-required="isDateReconnaissanceRequired()">
                    </div>
                </div>
            </ng-form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary submit-btn" type="submit" aria-label="Nouvelle" ng-click="addAnotherDiplome()">
                <span class="glyphicon glyphicon-plus"></span>
                Ajouter une formation
            </button>
        </div>
        <div ng-show="diplomeData.diplomes.length > 0">
            <legend>Formations et titres :</legend>
            <div style="overflow: auto;height: 460px;">
                <table class="table table-striped">
                    <thead>
                    <tr bgcolor="#99CC00">
                        <th>Type de diplôme</th>
                        <th>Titre de la formation</th>
                        <th>Date d'obtention</th>
                        <th>Pays d'obtention</th>
                        <th>Date de reconnaissance</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tr ng-repeat="diplome in diplomeData.diplomes">
                        <td>{{diplome.typeDiplome.libl}}</td>
                        <td>
                            {{diplome.typeFormation.libl}}
                        </td>
                        <td>
                            {{diplome.dateObtention}}
                        </td>
                        <td>
                            {{diplome.paysObtention.libl}}
                        </td>
                        <td>
                            {{diplome.dateReconnaissance}}
                        </td>
                        <td>
                            <a href="" ng-click="editDiplome(diplome)" class="btn btn-xs btn-default">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a href="" ng-click="deleteDiplome(diplome)" class="btn btn-xs btn-default">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </fieldset>
</div>
<step-actions back-step-fn="backStep()" next-step-fn="nextStep()"/>