<div ng-include="'template/include/include-titre.html'"></div>
<div ng-include="'template/include/include-steps.html'"></div>

<div class="bs-wizard-info text-left">
    <div class="row">
        <br/>
    </div>
    <fieldset>
        <legend>Veuillez saisir vos futures activitées professionnelles :</legend>
        <div ng-show="activeSaisiActivite">
            <ng-form name="donneesActivite.donneesActiviteForm">


                <!--Données informations générales-->
                <fieldset>
                    <div class="row form-group"><label class="col-md-2">Informations générales</label></div>
                    <!--Nom établissement-->
                    <div class="row form-group" ng-class="{ 'has-error' : (wouldStepNext && donneesActivite.donneesActiviteForm.etablissement.nomEtablissement.$invalid ) || (donneesActivite.donneesActiviteForm.etablissement.nomEtablissement.$invalid && !donneesActivite.donneesActiviteForm.etablissement.nomEtablissement.$pristine)}">
                        <div class="col-md-2 col-md-offset-1"><label for="nomEtablissement">Nom établissement*</label></div>
                        <div class="col-md-6" popover-enable="(wouldStepNext && donneesActivite.donneesActiviteForm.etablissement.nomEtablissement.$invalid ) || (donneesActivite.donneesActiviteForm.etablissement.nomEtablissement.$invalid && !donneesActivite.donneesActiviteForm.etablissement.nomEtablissement.$pristine)"
                             popover-trigger="none" popover-is-open="wouldStepNext && donneesActivite.donneesActiviteForm.etablissement.nomEtablissement.$invalid" popover-placement="right"
                             uib-popover="Veuillez saisir le nom de l'établissement.">
                            <input type="text" id="nomEtablissement" name="nomEtablissement" class="form-control" ng-required="true" ng-model="activiteData.activite.etablissement.nomEtablissement">
                        </div>
                    </div>
                    <!--Adresse-->
                    <div class="row form-group" ng-class="{ 'has-error' : (wouldStepNext && donneesActivite.donneesActiviteForm.etablissement.voie.$invalid ) || (donneesActivite.donneesActiviteForm.etablissement.voie.$invalid && !donneesActivite.donneesActiviteForm.etablissement.voie.$pristine)}">
                        <div class="col-md-2 col-md-offset-1"><label for="voie">Rue, No*</label></div>
                        <div class="col-md-6 " popover-enable="(wouldStepNext && donneesActivite.donneesActiviteForm.etablissement.voie.$invalid ) || (donneesActivite.donneesActiviteForm.etablissement.voie.$invalid && !donneesActivite.donneesActiviteForm.etablissement.voie.$pristine)"
                             popover-trigger="none" popover-is-open="wouldStepNext && donneesActivite.donneesActiviteForm.etablissement.voie.$invalid" popover-placement="right"
                             uib-popover="Veuillez saisir l'adresse de l'établissement.">
                            <input type="text" id="voie" name="voie" class="form-control" ng-required="true"  ng-model="activiteData.activite.etablissement.voie">
                        </div>
                    </div>
                    <!--NPA-->
                    <div class="row form-group" ng-class="{ 'has-error' : (wouldStepNext && donneesActivite.donneesActiviteForm.etablissement.npaProfessionnel.$invalid ) || (donneesActivite.donneesActiviteForm.etablissement.npaProfessionnel.$invalid && !donneesActivite.donneesActiviteForm.etablissement.npaProfessionnel.$pristine)}">
                       <div class="col-md-2 col-md-offset-1"><label for="npaProfessionnel">NPA*</label></div>
                        <div class="col-md-4" popover-enable="(wouldStepNext && donneesActivite.donneesActiviteForm.etablissement.npaProfessionnel.$invalid ) || (donneesActivite.donneesActiviteForm.etablissement.npaProfessionnel.$invalid && !donneesActivite.donneesActiviteForm.etablissement.npaProfessionnel.$pristine)"
                             popover-trigger="none" popover-is-open="wouldStepNext && donneesActivite.donneesActiviteForm.etablissement.npaProfessionnel.$invalid" popover-placement="right"
                             uib-popover="Veuillez saisir le NPA.">
                            <input type="text" id="npaProfessionnel" name="npaProfessionnel" class="form-control" ng-required="true"  ng-model="activiteData.activite.etablissement.npaProfessionnel">
                        </div>
                    </div>
                    <!--Localité-->
                    <div class="row form-group" ng-class="{ 'has-error' : (wouldStepNext && donneesActivite.donneesActiviteForm.etablissement.localite.$invalid ) || (donneesActivite.donneesActiviteForm.etablissement.localite.$invalid && !donneesActivite.donneesActiviteForm.etablissement.localite.$pristine)}">
                        <div class="col-md-2 col-md-offset-1"><label for="localite">Localité*</label></div>
                        <div class="col-md-4" popover-enable="(wouldStepNext && donneesActivite.donneesActiviteForm.etablissement.localite.$invalid ) || (donneesActivite.donneesActiviteForm.etablissement.localite.$invalid && !donneesActivite.donneesActiviteForm.etablissement.localite.$pristine)"
                             popover-trigger="none" popover-is-open="wouldStepNext && donneesActivite.donneesActiviteForm.etablissement.localite.$invalid" popover-placement="right"
                             uib-popover="Veuillez saisir la localité.">
                            <input type="text" id="localite" name="localite" class="form-control" ng-required="true" ng-model="activiteData.activite.etablissement.localite">
                        </div>
                    </div>
                    <!--Tel professionnel-->
                    <div class="row form-group" ng-class="{ 'has-error' : (wouldStepNext && donneesActivite.donneesActiviteForm.etablissement.telephoneProf.$invalid ) || (donneesActivite.donneesActiviteForm.etablissement.telephoneProf.$invalid && !donneesActivite.donneesActiviteForm.etablissement.telephoneProf.$pristine)}">
                        <div class="col-md-2 col-md-offset-1"><label for="telephoneProf">Téléphone prof.*</label></div>
                        <div class="col-md-4" popover-enable="(wouldStepNext && donneesActivite.donneesActiviteForm.etablissement.telephoneProf.$invalid ) || (donneesActivite.donneesActiviteForm.etablissement.telephoneProf.$invalid && !donneesActivite.donneesActiviteForm.etablissement.telephoneProf.$pristine)"
                             popover-trigger="none" popover-is-open="wouldStepNext && donneesActivite.donneesActiviteForm.etablissement.telephoneProf.$invalid" popover-placement="right"
                             uib-popover="Veuillez saisir le téléphone professionnel.">
                            <input type="tel" id="telephoneProf" name="telephoneProf" ng-required="true" class="form-control"  ng-model="activiteData.activite.etablissement.telephoneProf">
                        </div>
                    </div>
                    <!--Tel Mobile-->
                    <div class="row form-group">
                        <div class="col-md-2 col-md-offset-1"><label for="telephoneMobile">Téléphone mobile</label></div>
                        <div class="col-md-4"><input type="tel" id="telephoneMobile" name="telephoneMobile" class="form-control" ng-model="activiteData.activite.etablissement.telephoneMobile"></div>
                    </div>
                    <!--Fax-->
                    <div class="row form-group">
                        <div class="col-md-2 col-md-offset-1"><label for="fax">Fax</label></div>
                        <div class="col-md-4"><input type="tel" id="fax" class="form-control" ng-model="activiteData.activite.etablissement.fax"></div>
                    </div>

                    <!--Email-->
                    <div class="row form-group" ng-class="{ 'has-error' : (wouldStepNext && donneesActivite.donneesActiviteForm.etablissement.email.$invalid ) || (donneesActivite.donneesActiviteForm.etablissement.email.$invalid && !donneesActivite.donneesActiviteForm.etablissement.email.$pristine)}">
                        <div class="col-md-2 col-md-offset-1"><label for="email">Adresse email*</label></div>
                        <div class="col-md-4" popover-enable="(wouldStepNext && donneesActivite.donneesActiviteForm.etablissement.email.$invalid ) || (donneesActivite.donneesActiviteForm.etablissement.email.$invalid && !donneesActivite.donneesActiviteForm.etablissement.email.$pristine)"
                             popover-trigger="none" popover-is-open="wouldStepNext && donneesActivite.donneesActiviteForm.etablissement.email.$invalid" popover-placement="right"
                             uib-popover="Veuillez saisir le téléphone professionnel.">
                            <input type="email" id="email" class="form-control" ng-required="true" ng-model="activiteData.activite.etablissement.email">
                        </div>
                    </div>
                    <!--Site-->
                    <div class="row form-group">
                        <div class="col-md-2 col-md-offset-1"><label for="siteInternet">Site internet</label></div>
                        <div class="col-md-4">
                            <input type="text" id="siteInternet" name="siteInternet" class="form-control" ng-model="activiteData.activite.etablissement.siteInternet">
                        </div>
                    </div>
                </fieldset>
                <!--fin Données informations géénérales-->
                <div class="row">
                    <br/>
                </div>
                <hr>

                <!--Activitée évisagée-->
                <div>
                    <fieldset>
                        <div class="row form-group"><label class="col-md-2">Activité envisagée</label></div>

                        <!--À titre indépendant-->
                        <div class="row form-group">
                            <div class="col-md-5 col-md-offset-1">
                                <input type="radio" name="typeActivite" value="flagTauxIndependant" ng-required="isFlagTauxIndependantRequired()" ng-model="activiteData.activite.activiteEnvisagee.typeActivite"/>
                                <label>à titre indépendant</label>
                            </div>
                        </div>
                        <!--À titre dépendant sous sa propre-->
                        <div class="row form-group">
                            <div class="col-md-5 col-md-offset-1">
                                <input type="radio" name="typeActivite" value="flagTauxDependant" ng-required="isFlagTauxIndependantRequired()" ng-model="activiteData.activite.activiteEnvisagee.typeActivite"/>
                                <label>à titre indépendant sous sa propre responsabilité professionnelle</label>
                            </div>
                        </div>
                        <!--À titre dépendant sous supervision-->
                        <div class="row form-group">
                            <div class="col-md-4 col-md-offset-1">
                                <input type="radio" name="typeActivite" value="flagTauxDependantSousSupervision" ng-required="isFlagTauxDependantRequired()" ng-model="activiteData.activite.activiteEnvisagee.typeActivite"/>
                                <label>à titre dépendant sous supervision**</label>
                            </div>
                            <div class="col-md-3">
                                <div ng-show="donneesActivite.donneesActiviteForm.typeActivite.$viewValue == 'flagTauxDependantSousSupervision'"
                                     popover-enable="(wouldStepNext && donneesActivite.donneesActiviteForm.superviseur.$invalid ) || (donneesActivite.donneesActiviteForm.superviseur.$invalid && !donneesActivite.donneesActiviteForm.superviseur.$pristine)"
                                     popover-trigger="none" popover-is-open="wouldStepNext && donneesActivite.donneesActiviteForm.superviseur.$invalid" popover-placement="right"
                                     uib-popover="Choisissez saisir le nom du superviseur.">
                                    <select  type="text" name="superviseur" id="superviseur" placeholder="Nom du superviseur" ng-disabled="donneesActivite.donneesActiviteForm.typeActivite.$viewValue != 'flagTauxDependantSousSupervision'" ng-model="activiteData.activite.activiteEnvisagee.superviseur">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!--Date prévue-->
                        <div class="row form-group">
                            <div class="col-md-3 col-md-offset-2"><label>Date prévue de début</label></div>
                            <div class="col-md-2">
                                <p class="input-group">
                                    <input type="text" class="form-control" id="datePrevueDebut" name="datePrevueDebut" placeholder="{{datePicker.placeholder}}"
                                           datepicker-popup="{{datePicker.format}}" ng-model="activiteData.activite.activiteEnvisagee.datePrevueDebut"
                                           is-open="activiteData.datePicker.status.dateDebutPrevu.opened" min-date="datePicker.minDate" datepicker-options="datePicker.dateOptions"
                                           required="isdateDebutIndependantRequired" close-text="Fermer" clear-text="Effacer" current-text="Aujourd'hui"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openDatePicker(activiteData.datePicker.status.dateDebutPrevu)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <!--Nombre demi-journée-->
                        <div class="row form-group">
                            <div class="col-md-3 col-md-offset-2"><label>Taux d'activité. Indiquez le nombre de demi-journée par semaine</label></div>
                            <div class="col-md-2"><input type="text" name="nombreJourParSemaine" id="nombreJourParSemaine" class="form-control" required="isTauxIndependantRequired" ng-model="activiteData.activite.activiteEnvisagee.nombreJourParSemaine"/></div>
                        </div>

                        <div class="row"></br></div>

                        <!--Message-->
                        <div class="row">
                            <br/>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>
                                    (**Exerce à titre dépendant et professionnellement responsable, tout professionnel de la santé, qui, tout en ayant un statut de
                                    salarié, n’exerce pas sous la responsabilité et la surveillance d’un professionnel autorisé et assume dès lors la responsabilité
                                    professionnelle de ses actes. Ce type d’activité est notamment répandu dans les institutions ambulatoires telles que centres
                                    dentaires ou médicaux, pharmacies ou drogueries de chaînes, ou hôpitaux.)
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <!--fin activitée évisagée-->
                <div class="row">
                    <br/>
                </div>
                <hr>

                <!--Assurance maladie - LAMAL-->
                <div>
                    <fieldset>
                        <div class="row form-group"><label class="col-md-2">Assurance maladie</label></div>
                        <div class="row form-group"><label class="col-md-8 col-md-offset-1">Avez-vous l’intention de pratiquer à charge de l’assurance-maladie obligatoire (assurance de base)?</label></div>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-1">
                                <input type="radio" name="typePratiqueLamal" value="independant" ng-model="activiteData.activite.typePratiqueLamal" ng-required="iPratiquerBaseRequired()"/>
                                <label>oui, à titre indépendant (admission personnelle)</label>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-8 col-md-offset-1">
                                <input type="radio" name="typePratiqueLamal" value="dependant"  ng-model="activiteData.activite.typePratiqueLamal" ng-required="iPratiquerBaseRequired()"/>
                                <label>oui, à titre dépendant, professionnellement responsable (admission par le biais de l'employeur)</label>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-8 col-md-offset-1">
                                <input type="radio" name="typePratiqueLamal" value="non" ng-model="activiteData.activite.typePratiqueLamal" ng-required="iPratiquerBaseRequired()"/>
                                <label>non</label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <!--fin assurance maladie-->
                <div class="row">
                    <br/>
                </div>
            </ng-form>
        </div>

        <div class="modal-footer">
            <button ng-show="!activeSaisiActivite" class="btn btn-primary submit-btn" type="submit" aria-label="Nouvelle" ng-click="afficheFormulaire(true)">
                <span class="glyphicon glyphicon-plus"></span>
                Ajouter une activitée
            </button>
            <button ng-show="activeSaisiActivite" class="btn btn-primary submit-btn" type="submit" aria-label="Nouvelle" ng-click="addAnotherActivite()">
                <span class="glyphicon glyphicon-floppy-disk"></span>
                Sauvegarder l'activitée
            </button>
            <button ng-show="activeSaisiActivite" class="btn btn-primary submit-btn" type="submit" aria-label="Nouvelle" ng-click="afficheFormulaire(false)">
                <span class="glyphicon glyphicon-remove"></span>
                Annuler
            </button>

        </div>
        <div ng-show="activiteData.activites.length > 0">
            <legend>Formations et titres :</legend>
            <div style="overflow: auto;height: 460px;">
                <table class="table table-striped">
                    <thead>
                    <tr bgcolor="#99CC00">
                        <th>Nom établissement</th>
                        <th>NPA</th>
                        <th>Localité</th>
                        <th>Téléphone prof.
                        <th>Téléphone mobile</th>
                        <th>Adresse email</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="activite in activiteData.activites">
                        <td>{{activite.etablissement}}</td>
                        <td>
                            {{activite.npa}}
                        </td>
                        <td>
                            {{activite.localite}}
                        </td>
                        <td>
                            {{activite.telephoneProf}}
                        </td>
                        <td>
                            {{activite.telephoneMobile}}
                        </td>
                        <td>
                            {{activite.email}}
                        </td>
                        <td>
                            <a href="" ng-click="editActivite(activite)" class="btn btn-xs btn-default">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a href="" ng-click="deleteActivite(activite)" class="btn btn-xs btn-default">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </fieldset>
</div>
<step-actions back-step-fn="backStep()" next-step-fn="nextStep()"/>