<div ng-include="'template/demande/include-steps.html'"></div>
<div class="bs-wizard-info text-left">
    <fieldset>
        <legend>Veuillez saisir vos Données Personnelles</legend>
        <div>
            <ng-form>
                <div class="row">
                    <div class="col-md-2">Nom</div>
                    <div class="col-md-10"><input type="text" class="form-control" required="required"></div>
                </div>
                <div class="row">
                    <div class="col-md-2">Prénom(s)</div>
                    <div class="col-md-10"><input type="text" class="form-control" required="required"></div>
                </div>
                <div class="row">
                    <div class="col-md-2">Nom de célibataire</div>
                    <div class="col-md-10"><input type="text" class="form-control"></div>
                </div>
                <div class="row">
                    <div class="col-md-2">Adresse privée</div>
                    <div class="col-md-10"><input type="text" class="form-control" required="required"></div>
                </div>
                <div class="row">
                    <div class="col-md-2">Localité</div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" required="required">
                    </div>
                    <div class="col-md-2">
                        NPA
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" required="required">
                    </div>
                    <div class="col-md-2">
                        Pays
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" required="required">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">Téléphone privé</div>
                    <div class="col-md-6">
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-2">
                        Mobile
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">Adresse email</div>
                    <div class="col-md-6">
                        <input type="email" class="form-control" required="required">
                    </div>
                    <div class="col-md-2">
                        Fax
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">Sexe</div>
                    <div class="col-md-3">
                        <label>
                        <input type="radio" name="sexe" required="required">
                        Feminin
                        </label>
                    </div>
                    <div class="col-md-3">
                        <label>
                        <input type="radio" name="sexe" required="required">
                        Masculin
                        </label>
                    </div>
                    <div class="col-md-2">
                        Date de naissance
                    </div>
                    <div class="col-md-2">
                        <input type="date" placeholder="jj/MM/aaaa" class="form-control" required="required">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">Nationalité</div>
                    <div class="col-md-10"><input type="text" class="form-control" ng-model="personalData.nationality" required="required"></div>
                </div>
                <div class="row">
                    <div class="col-md-2">Permis</div>
                    <div class="col-md-2"><label><input type="radio" name="permis" value="B" ng-disabled="testSuisse.isSuisse(personalData.nationality)" ng-model="personalData.permis"/> B </label></div>
                    <div class="col-md-2"><label><input type="radio" name="permis" value="C" ng-disabled="testSuisse.isSuisse(personalData.nationality)" ng-model="personalData.permis"/> C </label></div>
                    <div class="col-md-2"><label><input type="radio" name="permis" value="demande en cours" ng-disabled="testSuisse.isSuisse(personalData.nationality)" ng-model="personalData.permis"/>Demande en cours</label></div>
                    <div class="col-md-2"><label><input type="radio" name="permis" value="autre" ng-disabled="testSuisse.isSuisse(personalData.nationality)" ng-model="personalData.permis"/>Autre</label></div>
                    <div class="col-md-2"><input type="text" class="form-control" ng-show="(personalData.permis == 'autre')"></div>
                </div>
            </ng-form>
        </div>
    </fieldset>
</div>
<div ng-include="'template/demande/include-actions.html'"></div>
