<div ng-include="'template/include/include-steps.html'"></div>
<div class="bs-wizard-info text-left">
    <fieldset>
        <legend>Veuillez saisir vos Données Personnelles</legend>
        <div>
            <ng-form name="donneesPerso.personalDataForm">
                <div ng-show="donneesPerso.personalDataForm.$pristine">
                    Form Pristine
                </div>
                <div ng-show="donneesPerso.personalDataForm.$dirty">
                    Form Dirty
                </div>
                <div ng-show="donneesPerso.personalDataForm.$valid">
                    Form Valid
                </div>
                <div ng-show="donneesPerso.personalDataForm.$error">
                    Form Error
                </div>
                <div class="row">
                    <div class="col-md-2"><label for="name">Nom*</label></div>
                    <div class="col-md-10"><input type="text" id="name" class="form-control" required="required" ng-model="personalData.name"></div>
                </div>
                <div class="row">
                    <div class="col-md-2"><label for="surname">Prénom(s)*</label></div>
                    <div class="col-md-10"><input type="text" id="surname" class="form-control" required="required" ng-model="personalData.surname"></div>
                </div>
                <div class="row">
                    <div class="col-md-2"><label for="maidenName">Nom de célibataire</label></div>
                    <div class="col-md-10"><input type="text" id="maidenName" class="form-control" ng-model="personalData.maidenName"></div>
                </div>
                <div class="row">
                    <div class="col-md-2"><label for="personalAddress">Adresse privée*</label></div>
                    <div class="col-md-10"><input type="text" id="personalAddress" class="form-control" required="required" ng-model="personalData.personalAddress"></div>
                </div>
                <div class="row">
                    <label for="city" class="col-md-2">Localité*</label>
                    <div class="col-md-2">
                        <input type="text" id="city" class="form-control" required="required" ng-model="personalData.city">
                    </div>
                    <label for="zipcode" class="col-md-2">
                        NPA*
                    </label>
                    <div class="col-md-2">
                        <input type="number" id="zipcode" class="form-control" required="required"  ng-model="personalData.zipCode">
                    </div>
                    <label for="country" class="col-md-2">
                        Pays*
                    </label>
                    <div class="col-md-2">
                        <input type="text" id="country" class="form-control" required="required" ng-model="personalData.country">
                    </div>
                </div>
                <div class="row">
                    <label for="personalPhone" class="col-md-2">Téléphone privé<span ng-hide="donneesPerso.personalDataForm.mobilePhone.$valid">*</span></label>
                    <div class="col-md-6">
                        <input type="tel" ng-minlength="4" id="personalPhone" name="personalPhone" ng-required="!donneesPerso.personalDataForm.mobilePhone.$valid"  class="form-control"  ng-model="personalData.personalPhone">
                    </div>
                    <label for="mobilePhone" class="col-md-2">
                        Mobile<span ng-hide="donneesPerso.personalDataForm.personalPhone.$valid">*</span>
                    </label>
                    <div class="col-md-2">
                        <input type="tel" ng-minlength="4" id="mobilePhone" ng-required="!donneesPerso.personalDataForm.personalPhone.$valid" name="mobilePhone" class="form-control" ng-model="personalData.mobilePhone">
                    </div>
                </div>
                <div class="row">
                    <label for="email" class="col-md-2">Adresse email*</label>
                    <div class="col-md-6">
                        <input type="email" id="email" class="form-control" required="required" ng-model="personalData.email">
                    </div>
                    <label for="fax" class="col-md-2">
                        Fax
                    </label>
                    <div class="col-md-2">
                        <input type="tel" id="fax" class="form-control" ng-model="personalData.fax">
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-2">Genre*</label>
                    <div class="col-md-3">
                        <label>
                        <input type="radio" name="sexe" value="female" required="required" ng-model="personalData.gender" ng-required="!personalData.gender">
                        Feminin
                        </label>
                    </div>
                    <div class="col-md-3">
                        <label>
                        <input type="radio" name="sexe" value="male" required="required" ng-model="personalData.gender" ng-required="!personalData.gender">
                        Masculin
                        </label>
                    </div>
                    <label for="birthdate" class="col-md-2">
                        Date de naissance*
                    </label>
                    <div class="col-md-2">
                        <input type="date" id="birthdate" placeholder="jj/MM/aaaa" class="form-control" required="required" ng-model="personalData.birthDate">
                    </div>
                </div>
                <div class="row">
                    <label for="nationality" class="col-md-2">Nationalité*</label>
                    <div class="col-md-10"><input id="nationality" type="text" class="form-control" ng-model="personalData.nationality" required="required" ng-change="resetPermis()"></div>
                </div>
                <div class="row">
                    <label class="col-md-2">Permis<span ng-hide="testSuisse.isSuisse(personalData.nationality)">*</span></label>
                    <div class="col-md-2"><label><input type="radio" name="permis" value="B" ng-disabled="testSuisse.isSuisse(personalData.nationality)" ng-model="personalData.permis" ng-required="isPermisRequired()"/> B </label></div>
                    <div class="col-md-2"><label><input type="radio" name="permis" value="C" ng-disabled="testSuisse.isSuisse(personalData.nationality)" ng-model="personalData.permis" ng-required="isPermisRequired()"/> C </label></div>
                    <div class="col-md-2"><label><input type="radio" name="permis" value="demande en cours" ng-disabled="testSuisse.isSuisse(personalData.nationality)" ng-model="personalData.permis" ng-required="isPermisRequired()"/>Demande en cours</label></div>
                    <div class="col-md-2"><label><input type="radio" name="permis" value="autre" ng-disabled="testSuisse.isSuisse(personalData.nationality)" ng-model="personalData.permis" ng-required="isPermisRequired()"/>Autre</label></div>
                    <div class="col-md-2"><input type="text" class="form-control" ng-required="(personalData.permis == 'autre')" ng-show="(personalData.permis == 'autre')" ng-model="personalData.permisOther"></div>
                </div>
            </ng-form>
        </div>
    </fieldset>
</div>
<step-actions next-step-fn="nextStep()"/>
