<div ng-include="'template/demande/include-steps.html'"></div>
<div>
    Demande page<br />
    Demande controller: {{demande.name}}<br />
    Demande params: {{demande.params}}<br />
    <div class="row">
        <div class="col-md-6"><button class="btn btn-primary submit-btn" type="submit" aria-label="Précédent" ng-click="previewStep()">Précédent</button></div>
        <div class="col-md-6"><button class="btn btn-primary submit-btn pull-right" type="submit" aria-label="Suivant" ng-click="nextStep()">Suivant</button></div>
    </div>
</div>