<div ng-include="'template/include/include-steps.html'"></div>
<div class="bs-wizard-info text-left">
    <fieldset>
        <legend>Veuillez indiquer la profession pour laquelle vous faîtes une demande :</legend>
        <div>
            <ng-form name="professionSante.professionDataForm">
                <div class="row">
                    <div class="col-md-4"><label for="profession">Profession demandée</label></div>
                    <div class="col-md-6">
                        <select id="profession" name="profession" ng-model="professionData.profession" required>
                            <option ng-repeat="profession in professionData.professions" value="{{profession.id}}">{{profession.libl}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <br/>
                </div>
            </ng-form>
        </div>
    </fieldset>
</div>
<step-actions next-step-fn="nextStep()"/>