<div ng-include="'template/include/include-titre.html'"></div>
<div ng-include="'template/include/include-steps.html'"></div>

<div class="bs-wizard-info text-left">
    <div class="row">
        <br/>
    </div>
    <fieldset>
        <legend>Veuillez indiquer la profession pour laquelle vous faîtes une demande :</legend>
        <div>
            <ng-form name="professionSante.professionDataForm">
                <!--Données Profession demandé-->
                <!--Profession-->
                <div class="row form-group" ng-class="{ 'has-error' : (wouldStepNext && professionSante.professionDataForm.profession.$invalid ) || (professionSante.professionDataForm.profession.$invalid && !professionSante.professionDataForm.profession.$pristine)}" >
                    <div class="col-md-2"></div>
                    <div class="col-md-3"><label for="profession">Profession demandée</label></div>
                    <div class="col-md-3" popover-enable=" wouldStepNext || (professionSante.professionDataForm.profession.$invalid && !professionSante.professionDataForm.profession.$pristine)"
                         popover-trigger="none" popover-is-open="(wouldStepNext && professionSante.professionDataForm.profession.$invalid ) || (professionSante.professionDataForm.profession.$invalid && !professionSante.professionDataForm.profession.$pristine)" popover-placement="right"
                         uib-popover="Veuillez saisir votre profession.">
                        <select id="profession" name="profession" ng-model="professionData.profession" required ng-disabled="isBrouillonExistant()"
                                ng-options="profession.libl for profession in professions track by profession.id" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <br/>
                </div>
                <!--GLN-->
                <div class="row form-group" ng-class="{ 'has-error' : (wouldStepNext && professionSante.professionDataForm.gln.$invalid ) || (professionSante.professionDataForm.gln.$invalid && !professionSante.professionDataForm.gln.$pristine)}" >
                    <div class="col-md-2"></div>
                    <div class="col-md-3"><label for="gln">Code GLN (EAN)</label></div>
                    <div class="col-md-2" popover-enable=" wouldStepNext || (professionSante.professionDataForm.gln.$invalid && !professionSante.professionDataForm.gln.$pristine)"
                         popover-trigger="none" popover-is-open="(wouldStepNext && professionSante.professionDataForm.gln.$invalid ) || (professionSante.professionDataForm.gln.$invalid && !professionSante.professionDataForm.gln.$pristine)" popover-placement="right"
                         uib-popover="Veuillez saisir votre code GLN.">
                        <input type="text" id="gln" name="gln" ng-minlength="0" ng-maxlength="13" ng-model="professionData.gln" ng-change="validateGln(professionSante.professionDataForm.gln)" class="form-control"
                               onfocus="this.placeholder = 'Votre code GLN'" onblur="this.placeholder = 'Votre code GLN'" ng-required="isProfessionNecessiteCodeGLN()">
                    </div>
                </div>
                <!--fin Données Profession demandé-->
                <div class="row">
                    <br/>
                </div>
                <div class="row">
                    <div class="col-md-2"><label></label></div>
                    <div class="col-md-8">
                        <label>
                            Si vous ne disposez pas d'un code GLN (EAN), veuillez vous adresser à l'Office fédéral de la santé publique
                            <a href="http://www.retdata.ch" style="color: blue">www.refdata.ch</a>
                        </label>
                    </div>
                </div>
            </ng-form>
        </div>
    </fieldset>
</div>
<step-actions next-step-fn="nextStep()"/>